/*
    Name: Tradix V2
    Author: Sumaiya Akter
    Author Portfolio : https://themeforest.net/user/quixlab/portfolio
    Email: quixlab.com@gmail.com
*/


@import "./mixins";
@import "./variable";
@import "./maps";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./typography";
@import "./common";
@import "./templates/templates";
@import "./pages/pages";
@import "./color-schemes/color-switcher";
@import "./color-schemes/color-schemes";



